type hal_lineage_camera_motor_hwservice, hwservice_manager_type;
type hal_lineage_powershare_hwservice, hwservice_manager_type; 

# TurboAdapter
type hal_turbo_adapter_hwservice, hwservice_manager_type;
